.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-container h2 {
  text-align: center;
}

.basic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(41, 40, 40);
  text-align: center;
  max-width: 300px;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.basic-info img {
  width: 140px;
}

.current-day-info {
  display: flex;
  width: 100%;
  max-width: 1000px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.current-day-info::-webkit-scrollbar {
  display: none;
}

.hour-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(41, 40, 40);
  padding: 10px;
  margin: 16px 6px;
  border-radius: 10px;
  text-align: center;
}

.hour-info img {
  width: 120px;
}

.other-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(41, 40, 40);
  max-width: 700px;
  width: 95%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 26px 26px 16px;
}

.sun-info {
  position: absolute;
  width: 56%;
}

.paths {
  position: relative;
}

.total-path {
  position: absolute;
  width: 100%;
  border: 1px solid gray;
}

.sun-path {
  position: relative;
  border: 1px solid yellow;
}

.sun {
  position: absolute;
  transform: translate(-50%, -50%) rotate(14deg);
  left: 100%;
  width: 70px;
  /* height: 50px; */
  border-radius: 50%;
  animation: sunAnimation 4s infinite linear;
}

@keyframes sunAnimation {
  from {
    transform: translate(-50%, -50%) rotate(14deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(374deg);
  }
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 14px 0;
}

.info h3 {
  display: flex;
  flex-direction: column;
}
